/* common */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h3,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  outline: 2px solid gold;
  width: 1150px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* основной цвет текста 757575, 100 % */
/* вторичный цвет текста 212121, 100 % */
/* акцент 2196F3, 100 % */
/* лого хедер 000000, 100 % */

/* фон FFFFFF, 100% */
/* футер + герой 2F303A, 100% */

/* хедер */
/* стилизация лого */
.header > .container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}
.h-studio {
  color: #000000;
}
.f-studio {
  color: #ffffff;
}
/* навигация */
.nav-flex {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  padding: 32px 0;
  display: block;
}

.site-nav a {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /* background-color: tomato; */
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  cursor: pointer;
  color: var(--accent-color);
}

/* контакты хедер */
.contact-me {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mail {
  margin-left: auto;
  margin-right: 50px;
}
.tel {
  margin-right: 0;
  margin-left: 0;
}

.contact-me:hover,
.contact-me:focus {
  cursor: pointer;
  color: var(--accent-color);
}

/* герой */
.hero {
  background-color: #2f303a;
  color: #ffffff;
}

.hero .container {
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;

  width: 696px;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;

  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* особенности */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container-features {
  padding-top: 96px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  text-align: left;
}

.features-list > .item {
  width: 270px;
  height: 101px;
}

.features-list > .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

/* наша команда */
.our-team {
  background-color: #f5f4fa;
}

.ot-list .title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.ot-list .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

/* подвал */
footer {
  background-color: #2f303a;
}

.adress {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* кнопки портфолио */
.button-secondary {
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* портфолио */

.portfolio-list .title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list p {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
